.GifPicker {
    background-color: var(--secondary-background);
}

.GifPicker .SearchContainer {
    background-color: var(--primary-background);
}

.GifSearchResult {
    cursor: pointer;
}

.GifSearchResultColumn {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
